*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body{
  background: #f7f7f7;
  color: #111;
  line-height: 1.7;
}

/* ============= HERO ============= */

.hero{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-image img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  border-bottom: 6px solid #1b7746; /*-green like raja style*/
}

.hero-text{
  padding: 30px;
  text-align: center;
}

.hero-text h1{
  font-size: 2.5rem;
  color: #0f5132;
  font-weight: 700;
}

.hero-text p{
  margin-top: 10px;
  font-size: 1.1rem;
  opacity: 0.9;
}

/* ============= CONTENT ============= */

.content{
  width: 90%;
  max-width: 900px;
  margin: 60px auto;
}

.content h2{
  margin-top: 50px;
  color: #0f5132;
  font-size: 1.8rem;
  border-left: 5px solid #1b7746;
  padding-left: 10px;
  font-weight: 600;
}

.content p{
  margin-top: 10px;
  font-size: 1.05rem;
}

.content ul{
  margin-top: 10px;
  padding-left: 25px;
}

.content ul li{
  margin-bottom: 6px;
  font-size: 1.05rem;
}

/* Responsive */

@media(max-width:768px){
  .hero-image img{
    height: 40vh;
  }

  .hero-text h1{
    font-size: 1.9rem;
  }
}
