/* ================= GLOBAL ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  color: #0a0a0a;
}

a {
  text-decoration: none;
}

/* ================= HEADER ================= */
header {
  width: 100%;
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 87, 255, 0.22);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #0057ff;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  color: #000000;
  font-weight: 500;
  font-size: 15px;
  transition: 0.3s;
}

nav a:hover {
  color: #0057ff;
  text-shadow: 0 0 10px rgba(0, 121, 255, 0.6);
}

.menu-btn {
  display: none;
  font-size: 28px;
  color: #0057ff;
  cursor: pointer;
}

/* ================= HERO ================= */
.hero {
  height: 100vh;
  background: linear-gradient(180deg, #0057ff, #66a6ff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
}

.hero-text h1:not(:last-child) {
  letter-spacing: 0.01px;
}

.hero p {
  color: #e9f3ff;
  font-size: 18px;
  margin-top: 10px;
}

/* ================= SECTIONS ================= */
section {
  padding: 80px 10%;
}

.title {
  font-size: 35px;
  text-align: center;
  color: #0057ff;
  margin-bottom: 50px;
  font-weight: 700;
}

/* ================= ABOUT ================= */
.about-section{
  padding:90px 10%;
}

.about-container{
  display:flex;
  align-items:center;
  gap:60px;
}

.about-container img{
  width:420px;
  border-radius:8px;
  object-fit:cover;
}

.about-text h1{
  font-size:55px;
  font-weight:700;
  margin-bottom:18px;
  color:#000;
}

.about-text p{
  font-size:18px;
  line-height:1.8;
  max-width:550px;
  color:#222;
  margin-bottom:30px;
}

.about-btn{
  background:#0057ff;
  padding:14px 45px;
  font-size:18px;
  font-weight:600;
  color:#fff;
  border-radius:5px;
  display:inline-block;
  transition:.3s;
}

.about-btn:hover{
  background:#3679ff;
}

/* ================= SKILLS ================= */
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14px;
}

.skill {
  background: #ffffff;
  border: 2px solid #0057ff;
  padding: 10px 18px;
  border-radius: 6px;
  font-weight: 500;
  color: #0057ff;
  transition: 0.3s;
}

.skill:hover {
  background: #0057ff;
  color: #ffffff;
}

/* ================= SERVICES ================= */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.service-box {
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  border: 2px solid #0057ff;
  transition: 0.3s;
}

.service-box:hover {
  background: #0057ff;
  color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 98, 255, 0.55);
}

/* ================= WORKS ================= */
.works-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.work {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.work img {
  width: 100%;
  transition: 0.4s;
}

.work:hover img {
  scale: 1.06;
  opacity: 0.7;
}

.work span {
  position: absolute;
  bottom: 15px;
  left: 15px;
  background: #0057ff;
  color: #ffffff;
  padding: 7px 14px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
}



/* ================= LIGHTBOX ================= */
.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.92);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5000;
}

.lightbox img {
  width: 85%;
  max-width: 900px;
  border: 3px solid #0057ff;
  border-radius: 8px;
}

/* ================= CONTACT ================= */
.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 14px;
  background: #e9f3ff;
  border: 2px solid #0057ff;
  border-radius: 6px;
}

.contact button {
  padding: 13px;
  background: #0057ff;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ================= FOOTER ================= */
footer {
  text-align: center;
  padding: 15px;
  font-size: 14px;
  color: #0057ff;
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px) {
  .hero-text h1 {
    font-size: 42px;
  }

  nav {
    position: absolute;
    top: 70px;
    right: -100%;
    background: #0057ff;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-left: 2px solid white;
    transition: .4s;
  }

  nav a { color:white; }
  nav.active { right: 0; }

  .menu-btn {
    display:block;
  }

  .about-container{
    flex-direction:column;
    text-align:center;
  }
}
