@import "styles-global.css";

/* ================= HERO ================= */
.hero {
  height: 90vh;
  background: linear-gradient(to left, #0145cb, #2e85ff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-text h1 {
  font-size: 65px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 5px;
  max-width: fit-content;
  position: relative;
  right: 200px;
}




/* ================= ABOUT ================= */
.about-section {
  padding: 90px 10%;
  background: rgb(240, 240, 240)
}

.about-container {
  display: flex;
  align-items: center;
  gap: 60px;
}

.about-container img {
  width: 420px;
  border-radius: 8px;
  object-fit: cover;
  position: relative;
  bottom: 40px;
}

.about-text h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 18px;
  color: #000000;
}

.about-text p {
  font-size: 18px;
  line-height: 1.8;
  max-width: 550px;
  color: #000000;
  margin-bottom: 30px;
}

.about-btn {
  background: #0057ff;
  padding: 14px 45px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border-radius: 0px;
  display: inline-block;
  transition: .3s;
}

.about-btn:hover {
  background: #3679ff;
  border-radius: 3px;
}

/* ================= WORKS ================= */


.title {
  color: #000000;
  position: relative;
  top: 110px;
  font-size: 80;
  font-weight: 800;
  max-width: 290px;
}

.homeprojectdesc{
  font-weight: 400;
  max-width: 300px;
  position: relative;
  left: 7px;
  top: 110px;
}

/* === Projects Grid === */
.works-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 35px; 
  padding: 20px;
  justify-items: center; 
  background: white;
}

/* === Card === */
.work {
  width: 100%;                
  background: #ffffff;
  overflow: hidden;
  cursor: pointer;
  transition: .3s;
}



/* === Image === */
.work img {
  width: 100%;
  height: 350px;              
  object-fit: cover;
  transition: transform .4s opacity .8s;
}

.work:hover img {
  opacity: 0.9;

}

/* === Text Layout Under Image === */
.work-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 5px;
}

.work-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.work-info {
  text-align: right;
  font-size: 14px;
  opacity: .8;
}

/* Phone Responsiveness */
@media(max-width:768px){
  .hero-text h1{
    position: relative;
    bottom: 70px;
    right: 5px;
    max-width: 900px;
    font-weight: 700;
    font-size:55px;
  }

  .works-grid {
    grid-template-columns: 1fr; /* one per row on mobile */
  }
  .work { width: 90%; }


  .titleanddesc{
    position: relative;
    bottom: 100px;
  }



}



/* ================= CONTACT ================= */

.allcontactt{
  background: white;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-content: space-between ;
  flex-wrap: wrap;
  gap: 50px;
  
}

.contacttitle{
  position: relative;
  top: 50px;
  font-size: xx-large;
}

.contact input, .contact textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #000000;
  border-radius: 6px;
  padding: 20px;
  margin: 10px;
}

.contact button {
  padding: 13px;
  background: #0057ff;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px) {
  .hero-text h1 {
    font-size: 42px;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
  }
}

